
<body class="mainbody">
    <nav class="buttons">

        <button><a href="/users/addFavoriteCollege">add to favorite</a></button>
        <button><a href="/users/addToDatabase">add to datebase</a></button>
        <button><a href="/users/addCourse">add course to college</a></button>

    </nav>
</body>
