<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  <body>
    <h1 class="header">Colleges research</h1>

    <body class="mainbody">
        <nav class="buttons">
            <button><a href="/">home</a></button>
            <button><a href="/publicCollege">Public colleges</a></button>
            <button><a href="/privateCollege">Private colleges</a></button>
            <button><a href="/users/addcollege">addcollege</a></button>
            <button><a href="/users">my favorite college</a></button>
        </nav>
    </body>
    {{{body}}}
  </body>
</html>
