

<form class="form-inline" action="/users/search/" method="post">
    <div class="form-group" style="margin: 24px auto;">
        <input type="text" name="name" style="width:300px;"class="form-control" placeholder="serach for events">
        <input type="submit" class="btn btn-primary" value="Search">
    </div>

</form>

<ul class="list-group" action="/users" method="get">
    <li class="display">college 1: {{s0}}</li>
    <li class="display">: {{s1}}</li>
    <li class="display">: {{s2}}</li>
</ul>
